
topmenu
{
    background: rgba(235,203,108,1);
    background:    -moz-linear-gradient(left, rgba(235,203,108,1) 0%, rgba(231,56,39,1) 50%, rgba(235,103,174,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(235,203,108,1)), color-stop(50%, rgba(231,56,39,1)), color-stop(100%, rgba(235,103,174,1)));
    background: -webkit-linear-gradient(left, rgba(235,203,108,1) 0%, rgba(231,56,39,1) 50%, rgba(235,103,174,1) 100%);
    background:      -o-linear-gradient(left, rgba(235,203,108,1) 0%, rgba(231,56,39,1) 50%, rgba(235,103,174,1) 100%);
    background:     -ms-linear-gradient(left, rgba(235,203,108,1) 0%, rgba(231,56,39,1) 50%, rgba(235,103,174,1) 100%);
    background:         linear-gradient(to right, rgba(235,203,108,1) 0%, rgba(231,56,39,1) 50%, rgba(235,103,174,1) 100%);

    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ebcb6c', endColorstr='#eb67ae', GradientType=1 );
}
.hidden
{
    display: none;
}

@import 'normalize';
